What do we need?

- A formula for calcuating standard deviation
- A formula for calcuating the average (mean)
- A fomrula for calculating the variance
- HELPFUL TIP!
  - You can make a function that passes in each of these elements :-)

- We also need a formula for calculating the periodic daily return
  - ln (day's price / previous day's price)
  - need to figure out logarithm function in c++

- Need to find some pricing data sets to work with! :-)
- Need to find a way to display data...
- Maybe, do something similiar to last time, where put your results in a file and displayed it in excel

- Let's use floats for this program!
- It's all very exciting, that much is for sure

- We are calculating random numbers.... gotta check back in to see what type we'll need
- what you should do is just, using the same data, run this whole thing multiple times


- rops if you use your MersenneTwister!

- Read in inputs from a file! Put them all into an array
  i at 1, until the end, because we must get the previous day's price


- Hey! Luckily enough, C++ has a built in log function :-)

- What should we allow the user to input?
- Number of days for the simulation
- Number of times to run the simulation.
  - The number of times to run the simulation should determine how many CUDA (blocks?) we should use
  - We can then use those results in an excel file, all data but on separate lines
